<!-- add new file -->
{{#each patients}}
	<tr data-id="{{patient_id}}">
		<td>{{patient_id}}</td>
		<td>{{file}}</td>
		<td>{{added}}</td>
		<td class="completed">{{completed}}</td>
		<td class="text-center check">
			{{#if ready}}
				<i class="fi-check size-24" style="color:#66CD00;"</i>
			{{else}}
				<i class="fa fa-spinner fa-spin" style="color:#3399FF;font-size:1.5em;"</i>
			{{/if}}
		</td>
	</tr>
{{/each}}
