{{!-- HTML for the adding a gene to a new recommendation form on the dosing-page --}}
<div class="row additional-gene-row" id="additional-gene-row-{{num}}">
	<div class="large-4 medium-12 small-12 columns">
		<div class="row collapse prefix-radius">
			<div class="large-4 small-4 medium-4 columns">
				<span class="prefix">Gene Name</span>
			</div>
			<div class="large-8 small-8 medium-8 columns">
				<input class="gene-name suggestion-input" type="text" data-abide-validator="uniqueGene" id="gene-name-{{num}}" data-requiredIf="class-name-{{num}}" data-abide-validator="requiredIf" data-col="genes" data-num="10">
				
				<div class="suggestion-wrapper">
					<div class="suggestions" for="#gene-name-{{num}}" style="z-index:100">
						<ul class="suggestion-list">
						</ul>
					</div>
				</div>
				<small class="error">Gene Name required</small>

			</div>
		</div>
	</div>
	<div class="large-5 medium-12 small-12 columns">
		<div class="row collapse prefix-radius">
			<div class="large-4 small-4 medium-4 columns">
				<span class="prefix">Predicted Effect</span>
			</div>
			<div class="large-8 small-8 medium-8 columns">
				<select class="class-name" data-abide-validator="requiredIf" data-requiredIf="gene-name-{{num}}" id="class-name-{{num}}" disabled="disabled">
					<option selected="selected">None</option>
					<!--{{#each classes}}
					<option>{{this}}</option>
					{{/each}}-->
				</select>
				<small class="error">Predicted Effect Required</small>
			</div>
		</div>
	</div>
	<div class="large-2 small-10 medium-10 columns">
		<div class="row collapse prefix-radius">
			<div class="large-6 small-4 medium-4 columns">
				<a href="#" data-originalvalue="false" class="button editfixed secondary tiny radius cnv"><b>CNV</b></a>
			</div>
			<div class="large-6 small-8 medium-8 columns">
				<input class="cnv-repeat-num" type="number" placeholder="#" style="display:none" required data-abide-validator="greaterThan">
				<small class="error">Required</small>
			</div>
		</div>
	</div>
	<div class="large-1 small-2 medium-2 right columns">
		<a href="#" id="remove-additional-gene-{{num}}" data-num="{{num}}" class="button tiny radius right"><i class="fi-x"></i></a>
	</div>
</div>