		{{#each drugs}}
		{{#each this}}
		<fieldset class="recomendation-field">
			<legend class="drug-name">{{drug}}</legend>
				<table class="large-12 small-12 medium-12">
					<thead>
						<tr>
							<th>Therapeutic Risk</th>
							<th>Primary Gene</th>
							<th>Therapeutic Class</th>
							{{#if pgx_2}}
							<th>Secondary Gene</th>
							<th>Therapeutic Class</th>
							{{/if}}
							<th>Pubmed ID</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="recomendation-risk">{{risk}}</td>
							<td>{{pgx_1}}</td>
							<td>{{class_1}}</td>
							{{#if pgx_2}}
							<td>{{pgx_2}}</td>
							<td>{{class_2}}</td>
							{{/if}}
							<td><a href="http://www.ncbi.nlm.nih.gov/pubmed/{{pubmed}}"</a>{{pubmed}}</td>
						</tr>
					</tbody>
				</table>
				<div class="row">
					<div class="large-12 small-12 medium-12 columns">
						<label><b>Dosing Recomendation</b></label>
						<textarea class="recomendation-rec" rows=5 required>{{rec}}</textarea>
						<small class="error">Required</small>
					</div>
				</div>
		</fieldset>
		{{/each}}
		{{/each}}

