<div class="row" style="padding-top: 30px;">  
	<div class="large-12 small-12 medium-12 columns">
		<a href="/dosing" class="button radius"><i class="fa fa-arrow-left"></i>&nbspBack</a>
		<div class="row">
			<div class="large-10 small-12 medium-8 columns">
				<h1><i class="fa fa-medkit"></i>&nbsp{{gene}}</h1>
			</div>
			<div class="large-2 small-12 medium-4 columns">
				<a href="#" class="button radius large-12 small-12 medium-12" id="delete-all" data-id="{{_id}}">Delete</a>
			</div>
		</div>
		
	</div>
</div>
<div id="confirm-delete" class="reveal-modal large" data-reveal>
	<h4></h4>
	<h6 class="subheader"></h6>
	<div class="row">
		<div class="large-6 small-12 medium-6 columns">
			<a href="#" class="large-12 small-12 medium-12 success button radius">Confirm</a>
		</div>
		<div class="large-6 small-12 medium-6 columns">
			<a href="#" class="large-12 small-12 medium-12 alert button radius cancel">Cancel</a>
		</div>
	</div>
</div>
<div class="row">
  	<div class="small-12 columns">
    	<div data-alert class="alert-box radius secondary" id="error-display-box"  style="display:none">
    	<!-- Alert message goes here -->
	  		<div class="row">
	    		<div class="small-11 columns">
	      			<p id="error-display-message"></p>
	    		</div>
	  			<div class="small-1 columns">
	    			<a href="#" class='close-box'><i class="fi-x size-16" style="color:#606060"></i></a>
	  			</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="large-12 small-12 medium-12 columns">
		<div class="row">
			<div class="large-8 small-8 medium-8 columns" style="margin-top:60px">
				<h2 id="recomendation-header">Dosing Recomendations</h2>
			</div>
			<div class="large-4 small-4 medium-4 columns">
				<fieldset>
					<p style="margin:0px"><a class="scroll-to-future">Go to Future Recomendations</a></p>
					<p style="margin:0px"><a class="scroll-to-haplo">Go To Haplotypes</a></p>
				</fieldset>
			</div>
			<hr>
		</div>
		<div class="row">
			<div class="large-4 small-12 medium-6 columns">
				<a href="#" id="new-interaction" class="button radius alert large-12 small-12 medium-12">New Recomendation</a>
				<ul class="button-group even-2 radius" id="new-interaction-triggers" style="display:none">
					<li><a href="#" class="button success" id="new-interaction-trigger-submit">Submit</a></li>
					<li><a href="#" class="button" id="new-interaction-cancel-trigger">Cancel</a></li>
				</ul> 
			</div>
			<div class="large-12 small-12 medium-12 columns">
				<form data-abide='ajax' id="new-interaction-form"  style="display:none">
					<fieldset>
						<section id="original-gene">
							<div class="row">
								<div class="large-6 small-12 medium-6 columns">
									<div class="row collapse prefix-radius">
										<div class="large-4 small-4 medium-4 columns">
											<span class="prefix">Drug Name</span>
										</div>
										<div class="large-8 small-8 medium-8 columns">
											<input type="text" name="drug" required>
											<small class="error">Required</small>
										</div>
									</div>
								</div>
								<div class="large-6 medium-12 small-12 columns">
									<div class="row collapse prefix-radius">
										<div class="large-4 small-4 medium-4 columns">
											<span class="prefix">Therapeutic Class</span>
										</div>
										<div class="large-8 small-8 medium-8 columns">
											<select id="class-name-original" required>
												{{#each classes}}
												<option>{{this}}</option>
												{{/each}}
											</select>
											<small class="error">Required</small>
										</div>
									</div>
								</div>
							</div>
						</section>
						<br>
						<div class="row">
							<div class="large-8 small-12 medium-8 columns">
								<label><h6><b>Additional Genes</b></h6></label>
							</div>
							<div class="large-4 small-12 medium-4 columns">
								<a class="right" href="#" id="add-additional-gene">Add additional gene</a>
							</div>
						</div>
						<section id="additional-genes">
						</section>
						<br>
						<div class="row">
							<div class="large-6 small-12 medium-6 columns">
								<div class="row collapse prefix-radius">
									<div class="large-4 small-4 medium-4 columns">
										<span class="prefix">Risk</span>
									</div>
									<div class="large-8 small-8 medium-8 columns left">
										<select name="risk" required id="new_risk">
											<option>Low</option>
											<option>Medium</option>
											<option>High</option>
										</select>
										<small class="error">Required</small>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="large-12 small-12 medium-12 columns">
								<label><h6><b>Recomendation</b></h6></label>
								<textarea name="rec" rows=4 required id="new_rec"></textarea>
								<small class="error">Required</small>
							</div>
						</div>
						<div class="row citations">
							<div class="large-12 small-12 medium-12 columns">
								<label><h6><b>Citations</b></h6></label>
								<div class="row">
									<div class="small-12 medium-4 large-4 columns add-new-pubmed">
										<div class="row collapse postfix-radius">
											<div class="large-10 medium-10 small-10 columns">
												<input class="add-new-pubmed-input" type="text" placeholder="Pubmed ID">
											</div>
											<div class="large-2 medium-2 small-2 columns">
												<a href="#" class="postfix add-new-pubmed-button button secondary tiny" style="margin-bottom:0"><i class="fi-plus"></i></a>
											</div>
										</div>
									</div>
									<div class="small-12 medium-12 large-12 columns left size-12" style="margin-top:13px">
										<ol class="pubmed-links" style="font-size:1em">
										</ol>
									</div>
								</div>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="large-12 small-12 medium-12 columns">
				<a href="#" data-state="less" id='toggle-all'>Show less</a>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="large-12 small-12 medium-12 columns">
		<div class="row collapse prefix-radius">
			<div class="large-2 medium-3 small-4 columns">
				<span class="prefix">Search Drugs</span>
			</div>
			<div class="large-4 medium-7 small-8 left columns">
				<input type="text" id="search-box">
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="large-12 small-12 medium-12 columns" id="main_content">
	{{#each recomendations}}
		<table class="drug-cont large-12 small-12 medium-12" data-drug="{{drug}}">
			<thead>
				<tr class="drug-cont-header" data-state="open">
					<th>
						<div class="row">
							<div class="large-11 small-10 medium-11 columns">
								<h3><strong>{{drug}}</strong></h3>
							</div>
							<div class="large-1 small-2 medium-1 columns">
								<i class="minimize fa fa-chevron-up fa-2x" style="color:black"></i>
								<i class="expand fa fa-chevron-down fa-2x" style="color:black;display:none;"></i>
							</div>
						</div>
					</th>
				</tr>
			</thead>
			<tbody class="interactions">
			{{#each recs}}
				<tr>
					<td>
						<div class="large-12 small-12 medium-12 columns">
							<form data-abide="ajax" data-id="{{_id}}">
								<div class="row">
							  		<div class="small-12 columns">
								    	<div data-alert class="alert-box radius secondary" style="display:none">
								    	<!-- Alert message goes here -->
									      	<div class="row">
									        	<div class="small-11 columns">
									        	  	<p></p>
									        	</div>
									      		<div class="small-1 columns">
									        		<a href="#" class='close-box'><i class="fi-x size-16" style="color:#606060"></i></a>
									      		</div>
									    	</div>
									    </div>
									</div>
								</div>
								<div class="row">
									<div class="small-2 large-2 medium-2 right columns">
										<a href="#" class="edit-table right button tiny secondary radius"><i class="fi-pencil size-16" style="color:#A2A2A2"></i></a>
									</div>
									<div class="small-10 large-10 medium-10 columns left">
										<label><h6><b>Dependant Genes</b></h6></label>
									</div>
								</div>
								{{#each genes}}
								<div class="row">
									<div class="small-4 large-2 medium-3 columns">
										<h6>Gene:</h6>
									</div>
									<div class="small-8 large-3 medium-3 columns">
										<h6 class='left'><i>{{this}}</i></h6>
									</div>
									<div class="small-4 large-3 medium-3 columns">
										<h6>Metabolic Status:</h6>
									</div>
									<div class="small-8 large-4 medium-3 columns">
										<h6 class='left class-name'><i>{{lookup ../classes @index}}</i></h6>
									</div>
								</div>
								{{/each}}
								<br>
								<div class="row">
									<div class="large-6 small-12 medium-6 columns">
										<div class="row collapse prefix-radius">
											<div class="large-4 small-4 medium-4 columns">
												<span class="prefix">Risk</span>
											</div>
											<div class="large-8 small-8 medium-8 columns left">
												<select name="risk" disabled="disabled" data-originalvalue="{{risk}}" value="{{risk}}" required>
													<option>Low</option>
													<option>Medium</option>
													<option>High</option>
												</select>
												<small class="error">Required</small>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="large-12 small-12 medium-12 columns">
										<label><h6><b>Recomendation</b></h6></label>
										<textarea name="rec" rows=4 data-originalvalue="{{rec}}" disabled="disabled" required>{{rec}}</textarea>
										<small class="error">Required</small>
									</div>
								</div>
								<div class="row citations">
									<div class="large-12 small-12 medium-12 columns">
										<label><h6><b>Citations</b></h6></label>
										<div class="row">
											<div class="small-12 medium-4 large-4 columns add-new-pubmed edit hide">
												<div class="row collapse postfix-radius">
													<div class="large-10 medium-10 small-10 columns">
														<input class="add-new-pubmed-input" type="text" placeholder="Pubmed ID">
													</div>
													<div class="large-2 medium-2 small-2 columns">
														<a href="#" class="postfix add-new-pubmed-button button secondary tiny" style="margin-bottom:0"><i class="fi-plus"></i></a>
													</div>
												</div>
											</div>
											<div class=" small-12 medium-12 large-12 columns left size-16" style="margin-top:13px">
												<ol class="pubmed-links" stlye="font-size:1em">
												{{#each pubmed}}
													<li class="pubmed-link-combo" data-id={{this}}>{{{lookup ../../../citations this}}}&nbsp&nbsp <a href="#" class="edit pubmed-remove-link hide" data-link="{{this}}"><i class="fi-x"></i></a></li>
												{{/each}}
												</ol>
											</div>
										</div>
									</div>
								</div>
								<div class="row">	
									<div class="large-4 small-12 medium-6 columns right">
										<ul class="button-group even-3 form-triggers" style="display:none">
											<li><button type="submit" class="button success tiny submit-changes">Submit</button></li>
											<li><a href="#" class="button tiny cancel-changes">Cancel</a></li>
											<li><a href="#" class="button tiny alert delete-table">Delete</a></li>
										</ul>
									</div>
								</div>
							</form>
						</div>
					</td>
				</tr>
			{{/each}}
			</tbody>
		</table>
		{{/each}}
	</div>
</div>
<div class="row">
	<div class="large-12 small-12 medium-12 columns">
		<div class="row">
			<div class="large-8 small-8 medium-8 columns" style="margin-top:60px">
				<h2 id="future-recomendations-header">Future Considerations</h2>
			</div>
			<div class="large-4 small-4 medium-4 columns">
				<fieldset>
					<p style="margin:0px"><a class="scroll-to-top">Go to Dosing Recomendations</a></p>
					<p style="margin:0px"><a class="scroll-to-haplo">Go To Haplotypes</a></p>
				</fieldset>
			</div>
			<hr>
		</div>
		<div class="row">
			<div class="large-4 small-12 medium-6 columns">
				<a href="#" id="new-recomendation" class="button radius alert large-12 small-12 medium-12">New Recomendation</a>
				<ul class="button-group even-2 radius" id="new-recomendation-triggers" style="display:none">
					<li><a href="#" class="button success" id="new-recomendation-trigger-submit">Submit</a></li>
					<li><a href="#" class="button" id="new-recomendation-cancel-trigger">Cancel</a></li>
				</ul> 
			</div>
			<div class="large-12 small-12 medium-12 columns">
				<form data-abide="ajax" id="new-recomendation-form" style="display:none">
					<fieldset>
					<div class="large-6 small-12 medium-6 columns">
						<div class="row collapse prefix-radius">
							<div class="large-4 small-4 medium-4 columns">
								<span class="prefix">Therapeutic Class</span>
							</div>
							<div class="large-8 small-8 medium-8 columns">
								<select name="class" required>
									{{#each classes}}
									<option>{{this}}</option>
									{{/each}}
								</select>
								<small class="error">Required</small>
							</div>
						</div>
					</div>
					<div class="large-12 small-12 medium-12 columns">
						<label>Recomendation</label>
						<textarea name="rec" rows=3 required></textarea>
						<small class="error">Required</small>
					</div>
					</fieldset>
				</form>
			</div>
		</div>
		<div class="row">
		  	<div class="small-12 columns">
		    	<div data-alert class="alert-box radius secondary" id="error-display-box-2"  style="display:none">
		    	<!-- Alert message goes here -->
			  		<div class="row">
			    		<div class="small-11 columns">
			      			<p id="error-display-message-2"></p>
			    		</div>
			  			<div class="small-1 columns">
			    			<a href="#" class='close-box'><i class="fi-x size-16" style="color:#606060"></i></a>
			  			</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="large-12 small-12 medium-12 columns">
				<table class="large-12 small-12 medium-12" id="future-recomendations" style="display:none"> 
					<tbody>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="large-12 small-12 medium-12 columns">
		<div class="row">
			<div class="large-8 small-8 medium-8 columns" style="margin-top:60px">
				<h2 id="haplotypes-header">Associated Haplotypes</h2>
			</div>
			<div class="large-4 small-4 medium-4 columns">
				<fieldset>
					<p style="margin:0px"><a class="scroll-to-top">Go to Dosing Recomendations</a></p>
					<p style="margin:0px"><a class="scroll-to-future">Go To Future Recomendations</a></p>
				</fieldset>
			</div>
			<hr>
		</div>
		<div class="row">
			<div class="large-4 small-12 medium-6 columns">
				<a href="#" id="new-haplotype" class="button radius alert large-12 small-12 medium-12">New Haplotype</a>
				<ul class="button-group even-2 radius" id="new-haplotype-triggers" style="display:none">
					<li><a href="#" class="button success" id="new-haplotype-trigger-submit">Submit</a></li>
					<li><a href="#" class="button" id="new-haplotype-cancel-trigger">Cancel</a></li>
				</ul> 
			</div>
			<div class="large-12 small-12 medium-12 columns">
				<form data-abide="ajax" id="new-haplotype-form" style="display:none">
					<fieldset>
						<div class='row'>
							<div class="large-6 small-12 medium-6 columns">
								<div class="row collapse prefix-radius">
									<div class="large-4 small-4 medium-4 columns">
										<span class="prefix">Therapeutic Class</span>
									</div>
									<div class="large-8 small-8 medium-8 columns">
										<select name="class" required>
											{{#each classes}}
											<option>{{this}}</option>
											{{/each}}
										</select>
										<small class="error">Required</small>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="large-6 small-12 medium-6 columns">
								<div class="row collapse prefix-radius">
									<div class="large-4 small-4 medium-4 columns">
										<span class="prefix">First Haplotype</span>
									</div>
									<div class="large-8 small-8 medium-8 columns">
										<input type="text" placeholder='ex *1' name="allele_1" required>
										<small class="error">Required</small>
									</div>
								</div>
							</div>
							<div class="large-6 small-12 medium-6 columns">
								<div class="row collapse prefix-radius">
									<div class="large-4 small-4 medium-4 columns">
										<span class="prefix">Second Haplotype</span>
									</div>
									<div class="large-8 small-8 medium-8 columns">
										<input type="text" placeholder='ex *3' name="allele_2" required>
										<small class="error">Required</small>
									</div>
								</div>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
		<div class="row">
		  	<div class="small-12 columns">
		    	<div data-alert class="alert-box radius secondary" id="error-display-box-3"  style="display:none">
		    	<!-- Alert message goes here -->
			  		<div class="row">
			    		<div class="small-11 columns">
			      			<p id="error-display-message-3"></p>
			    		</div>
			  			<div class="small-1 columns">
			    			<a href="#" class='close-box'><i class="fi-x size-16" style="color:#606060"></i></a>
			  			</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="large-12 small-12 medium-12 columns">
				<table class="large-12 small-12 medium-12" id="haplotypes" style="display:none"> 
					<tbody>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

