<div class="row" style="padding-top: 30px;">  
	<div class="large-12 small-12 medium-12 columns">
		<a href="/browsepatients/id/{{patientID}}" class="button radius"><i class="fa fa-arrow-left"></i>&nbspBack</a>
		<h2><i class="fa fa-medkit"></i>&nbsp Dosing Recommendations for {{patientID}}</h2>
		<div class="row">
			<div class="large-12 small-12 medium-12 columns">
				<form data-abide="ajax" id="drug-rec-form">
					<div class="row">
						<div class="large-3 small-12 medium-4 right columns">
							<button type="submit" class="button radius large-12 small-12 medium-12">Generate Report</button>
						</div>
					</div>
					<fieldset>
						<legend>Physician Information</legend>
						<h5 class="subheader">Referring Physician:</h5>
						<div class="row">
							<div class="large-6 small-12 medium-6 columns">
								<div class="row collapse prefix-radius">
									<div class="large-4 small-4 medium-4 columns">
										<span class='prefix'>First Name</span>
									</div>
									<div class="large-8 small-8 medium-8 columns">
										<input name="dr-name-first" type="text">
									</div>
								</div>
							</div>
							<div class="large-6 small-12 medium-6 columns">
								<div class="row collapse prefix-radius">
									<div class="large-4 small-4 medium-4 columns">
										<span class='prefix'><b style="color:red">*</b> Last Name</span>
									</div>
									<div class="large-8 small-8 medium-8 columns">
										<input name="dr-name-last" type="text" required>
										<small class="error">Required</small>
									</div>
								</div>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="large-12 small-12 medium-12 columns">
								<div class="row collapse prefix-radius">
									<div class="large-2 small-4 medium-2 columns">
										<span class='prefix'><b style="color:red">*</b> Address</span>
									</div>
									<div class="large-10 small-8 medium-10 columns">
										<input name="dr-address" type="text" required>
										<small class="error">Required</small>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="large-6 small-12 medium-6 columns">
								<div class="row collapse prefix-radius">
									<div class="large-4 small-4 medium-4 columns">
										<span class='prefix'><b style="color:red">*</b> City</span>
									</div>
									<div class="large-8 small-8 medium-8 columns">
										<input name="dr-city" type="text" required>
										<small class="error">Required</small>
									</div>
								</div>
							</div>
							<div class="large-6 small-12 medium-6 columns">
								<div class="row collapse prefix-radius">
									<div class="large-4 small-4 medium-4 columns">
										<span class='prefix'><b style="color:red">*</b> Province</span>
									</div>
									<div class="large-8 small-8 medium-8 columns">
										<input name="dr-region" type="text" required>
										<small class="error">Required</small>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="large-6 small-12 medium-6 columns left">
								<div class="row collapse prefix-radius">
									<div class="large-4 small-4 medium-4 columns">
										<span class='prefix'><b style="color:red">*</b> Postal Code</span>
									</div>
									<div class="large-8 small-8 medium-8 columns">
										<input name="dr-postal" type="text" required>
										<small class="error">Required</small>
									</div>
								</div>
							</div>
						</div>
					</fieldset>
					<fieldset>
						<legend>Patient Information</legend>
						<div class="row">
							<div class="large-6 small-12 medium-6 columns">
								<div class="row collapse prefix-radius">
									<div class="large-4 small-4 medium-4 columns">
										<span class='prefix'><b style="color:red">*</b> First Name</span>
									</div>
									<div class="large-8 small-8 medium-8 columns">
										<input name="patient-name-first" type="text" required>
										<small class="error">Required</small>
									</div>
								</div>
							</div>
							<div class="large-6 small-12 medium-6 columns">
								<div class="row collapse prefix-radius">
									<div class="large-4 small-4 medium-4 columns">
										<span class='prefix'><b style="color:red">*</b> Last Name</span>
									</div>
									<div class="large-8 small-8 medium-8 columns">
										<input name="patient-name-last" type="text" required>
										<small class="error">Required</small>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="large-6 small-12 medium-6 columns">
								<div class="row collapse prefix-radius">
									<div class="large-4 small-4 medium-4 columns">
										<span class='prefix'><b style="color:red">*</b> Identifier</span>
									</div>
									<div class="large-8 small-8 medium-8 columns">
										<input name="patient-mrn" type="text" value="{{patientID}}" required>
										<small class="error">Required</small>
									</div>
								</div>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="large-6 small-12 medium-6 columns">
								<div class="row collapse prefix-radius">
									<div class="large-4 small-4 medium-4 columns">
										<span class="prefix"><b style="color:red">*</b> D.O.B</span>
									</div>
									<div class="large-2 small-2 medium-2 columns">
										<input name="patient-dob-date" type="text" placeholder="DD" pattern="^\d{1,2}$" required>
										<small class="error">Date required</small>
									</div>
									<div class="large-2 small-2 medium-2 columns">
										<input name="patient-dob-month" type="text" placeholder="MM" pattern="^\d{1,2}$" required>
										<small class="error">Month Required</small>
									</div>
									<div class="large-4 small-4 medium-4 columns left">
										<input name="patient-dob-year" type="text" placeholder="YYYY" pattern="^\d\d\d\d$" required>
										<small class="error">Please provide a 4 digit year</small>
									</div>
								</div>
							</div>
							<div class="large-6 small-12 medium-6 columns">
								<div class="row collapse prefix-radius">
									<div class="large-4 small-4 medium-4 columns">
										<span class="prefix">Sex</span>
									</div>
									<div class="large-8 small-8 medium-3 column">
										<input type="text" name="patient-sex" placeholder="M/F" pattern="^(m|f|female|male|M|F|Female|Male)$">
  										<small class="error">Sex must be M / F</small>
									</div>
								</div>
						    </div>
						</div>
						<div class="row">
							<div class="large-6 small-6 medium-6 columns">
								<div class="row collapse prefix-radius">
									<div class="large-4 small-4 medium-4 columns">
										<span class="prefix"><b style="color:red">*</b> Age</span>
									</div>
									<div class="large-8 small-8 medium-8 columns">
										<input type="text" name="patient-age" required pattern="^\d{1,3}$" required>
										<small class="error">Required</small>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="large-6 small-12 medium-6 columns">
								<div class="row collapse prefix-radius">
									<div class="large-4 small-4 medium-4 columns">
										<span class="prefix"><b style="color:red">*</b> Height (cm)</span>
									</div>
									<div class="large-8 small-8 medium-8 columns">
										<input type="text" name="patient-height" pattern="^\d{1,3}$" required>
										<small class="error">Required</small>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="large-6 small-12 medium-6 columns">
								<div class="row collapse prefix-radius">
									<div class="large-4 small-4 medium-4 columns">
										<span class="prefix"><b style="color:red">*</b> Weigth (kg)</span>
									</div>
									<div class="large-8 small-8 medium-8 columns">
										<input type="text" name="patient-weight" pattern="^\d{1,3}$" required>
										<small class="error">Required</small>
									</div>
								</div>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="large-6 small-12 medium-6 columns">
								<div class="row collapse prefix-radius">
									<div class="large-4 small-4 medium-4 columns">
										<span class="prefix"><b style="color:red">*</b>Sample Type</span>
									</div>
									<div class="large-8 small-8 medium-8 columns">
										<select name="patient-sampletype">
											<option selected="selected">NA</option>
											<option>Blood</option>
											<option>Saliva</option>
											<option>Tissue</option>
											<option>Other</option>
										</select>
										<small class="error">Required</small>
									</div>
								</div>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="large-12 small-12 medium-12 columns">
								<div class="row collapse prefix-radius postfix-radius">
									<div class="large-2 small-4 medium-2 columns">
										<span class="prefix">Current Medications</span>
									</div>
									<div class="large-8 small-6 medium-8 columns">
										<input type="text" id="patient-new-drug" placeholder="Provide one drug name at a time">
									</div>
									<div class="large-2 small-2 medium-2 columns">
										<a href="#" id="patient-add-drug" class="button secondary postfix"><i class="fi-plus"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="large-6 small-12 medium-6 columns">
								<table class="large-12 small-12 medium-12" id="patient-drug-table" style="display:none">
									<thead>
										<tr>
											<th>Medication name</th>
											<th>Remove</th>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>
							</div>
						</div>
					</fieldset>
					<fieldset>
						<legend><b style="color:red">*</b> Reason for Testing</legend>
						<textarea name="patient-reason" rows="5" required></textarea>
						<small class="error">Required</small>
					</fieldset>
					<fieldset>
						<legend><b style="color:red">*</b> Report Summary</legend>
						<textarea name="summary" rows="5" required></textarea>
						<small class="error">Required</small>
					</fieldset>
					<fieldset>
						<legend>PGX Results</legend>
						<div class="row">
							<div class="large-12 small-12 medium-12 columns">
								{{#if pgxGenes}}
								<table class="large-12 small-12 medium-12" id="pgx-result-table">
									<thead>
										<tr>
											<th>Gene</th>
											<th>First Haplotype</th>
											<th>Second Haplotype</th>
											<th>Therapeutic Class</th>
										</tr>
									</thead>
									<tbody>
										{{#each pgxGenes}}	
										<tr class="gene-row">
											<td class="gene-name">{{gene}}</td>
											<td class="allele_1"><i>{{hap1}}</i></td>
											<td class="allele_2"><i>{{hap2}}</i></td>
											<td>
												<select class="therapeutic-class">
													{{#each @root.classes}}
													<option>{{@this}}</option>
													{{/each}}
												</select>
											</td>
										</tr>
										{{/each}}
									</tbody>
								</table>
								{{else}}
								<div data-alert class="alert-box radius secondary" id="error-display-box">
							      <!-- Alert message goes here -->
							      	<div class="row">
							          	<div class="small-11 columns">
							             	<p id="error-display-message">PGX analysis did not find any haplotypes</p>
							          	</div>
							       	</div>
							    </div>
							    {{/if}}
							</div>
						</div>
					</fieldset>
					<div class="row">
						<div class="large-8 small-6 medium-6 columns">
							<h3>Future Considerations Based on Genetic Profile</h3>
						</div>
						<div class="large-3 small-4 medium-4 columns">
							<h5>Include Future Considerations?</h5>
						</div>
						<div class="large-1 small-2 medium-2 columns">
							<div class="switch right radius">
								<input type="checkbox" id="turnofffuture" checked>
								<label for="turnofffuture"></label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="large-12 small-12 medium-12 columns" id="future-recomendations">
						</div>
					</div>
					<div class="row">
						<div class="large-8 small-6 medium-6 columns">
							<h3>Drug Recommendations</h3>
						</div>
						<div class="large-3 small-4 medium-4 columns">
							<h5>Include Recommendations?</h5>
						</div>
						<div class="large-1 small-2 medium-2 columns">
							<div class="switch right radius">
								<input type="checkbox" id="turnoffrecomendations" checked>
								<label for="turnoffrecomendations"></label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="large-12 small-12 medium-12 columns" id="drug-recomendations">
						</div>
					</div>
					<div class="row">
						<div class="large-3 small-12 medium-4 right columns">
							<button type="submit" class="button radius large-12 small-12 medium-12">Generate Report</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	<div>
<div>