<div class="row" style="padding-top: 30px;">  
	<div class="large-12 small-12 medium-12 columns">
		<h2><i class="fa fa-medkit"></i>&nbsp Dosing Recomendations for {{patientID}}</h2>
		<div class="row">
			<div class="large-12 small-12 medium-12 columns">
				<form data-abide="ajax" id="drug-rec-form">
					<div class="row">
						<div class="large-3 small-12 medium-4 right columns">
							<button type="submit" class="button radius large-12 small-12 medium-12">Generate Report</button>
						</div>
					</div>
					<fieldset>
						<legend>Physician Information</legend>
						<h5 class="subheader">Referring Physician:</h5>
						<div class="row">
							<div class="large-6 small-12 medium-6 columns">
								<div class="row collapse prefix-radius">
									<div class="large-4 small-4 medium-4 columns">
										<span class='prefix'>First Name</span>
									</div>
									<div class="large-8 small-8 medium-8 columns">
										<input name="drfirstname" type="text">
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="large-6 small-12 medium-6 columns">
								<div class="row collapse prefix-radius">
									<div class="large-4 small-4 medium-4 columns">
										<span class='prefix'><b style="color:red">*</b> Last Name</span>
									</div>
									<div class="large-8 small-8 medium-8 columns">
										<input name="drlastname" type="text" required>
										<small class="error">Required</small>
									</div>
								</div>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="large-12 small-12 medium-12 columns">
								<div class="row collapse prefix-radius">
									<div class="large-2 small-4 medium-2 columns">
										<span class='prefix'><b style="color:red">*</b> Address</span>
									</div>
									<div class="large-10 small-8 medium-10 columns">
										<input name="draddress" type="text" required>
										<small class="error">Required</small>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="large-6 small-12 medium-6 columns">
								<div class="row collapse prefix-radius">
									<div class="large-4 small-4 medium-4 columns">
										<span class='prefix'><b style="color:red">*</b> City</span>
									</div>
									<div class="large-8 small-8 medium-8 columns">
										<input name="drcity" type="text" required>
										<small class="error">Required</small>
									</div>
								</div>
							</div>
							<div class="large-6 small-12 medium-6 columns">
								<div class="row collapse prefix-radius">
									<div class="large-4 small-4 medium-4 columns">
										<span class='prefix'><b style="color:red">*</b> Region</span>
									</div>
									<div class="large-8 small-8 medium-8 columns">
										<input name="drregion" type="text" required>
										<small class="error">Required</small>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="large-6 small-12 medium-6 columns left">
								<div class="row collapse prefix-radius">
									<div class="large-4 small-4 medium-4 columns">
										<span class='prefix'><b style="color:red">*</b> Postal Code</span>
									</div>
									<div class="large-8 small-8 medium-8 columns">
										<input name="drpostal" type="text" required>
										<small class="error">Required</small>
									</div>
								</div>
							</div>
						</div>
					</fieldset>
					<fieldset>
						<legend>Patient Information</legend>
						<div class="row">
							<div class="large-6 small-12 medium-6 columns">
								<div class="row collapse prefix-radius">
									<div class="large-4 small-4 medium-4 columns">
										<span class='prefix'><b style="color:red">*</b> First Name</span>
									</div>
									<div class="large-8 small-8 medium-8 columns">
										<input name="patientfirstname" type="text" required>
										<small class="error">Required</small>
									</div>
								</div>
							</div>
							<div class="large-6 small-12 medium-6 columns">
								<div class="row collapse prefix-radius">
									<div class="large-4 small-4 medium-4 columns">
										<span class='prefix'><b style="color:red">*</b> Last Name</span>
									</div>
									<div class="large-8 small-8 medium-8 columns">
										<input name="patientlastnamne" type="text" required>
										<small class="error">Required</small>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="large-6 small-12 medium-6 columns">
								<div class="row collapse prefix-radius">
									<div class="large-4 small-4 medium-4 columns">
										<span class="prefix"><b style="color:red">*</b> D.O.B</span>
									</div>
									<div class="large-2 small-2 medium-2 columns">
										<input name="patientdobdate" type="text" placeholder="DD" pattern="^\d{1,2}$" required>
										<small class="error">Date required</small>
									</div>
									<div class="large-2 small-2 medium-2 columns">
										<input name="patientdobmonth" type="text" placeholder="MM" pattern="^\d{1,2}$" required>
										<small class="error">Month Required</small>
									</div>
									<div class="large-4 small-4 medium-4 columns left">
										<input name="patientdobyear" type="text" placeholder="YYYY" pattern="^\d\d\d\d$" required>
										<small class="error">Please provide a 4 digit year</small>
									</div>
								</div>
							</div>
							<div class="large-6 small-12 medium-6 columns">
								<div class="row collapse prefix-radius">
									<div class="large-4 small-4 medium-4 columns">
										<span class="prefix">Sex</span>
									</div>
									<div class="large-8 small-8 medium-3 column">
										<input type="text" name="sex" placeholder="M/F" pattern="^(m|f|female|male|M|F|Female|Male)$">
  										<small class="error">Sex must be M / F</small>
									</div>
								</div>
						    </div>
						</div>
						<div class="row">
							<div class="large-6 small-6 medium-6 columns">
								<div class="row collapse prefix-radius">
									<div class="large-4 small-4 medium-4 columns">
										<span class="prefix"><b style="color:red">*</b> Age</span>
									</div>
									<div class="large-8 small-8 medium-8 columns">
										<input type="text" name="patientage" required pattern="^\d{1,3}$" required>
										<small class="error">Required</small>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="large-6 small-6 medium-6 columns">
								<div class="row collapse prefix-radius">
									<div class="large-4 small-4 medium-4 columns">
										<span class="prefix"><b style="color:red">*</b> Height (cm)</span>
									</div>
									<div class="large-8 small-8 medium-8 columns">
										<input type="text" name="patientheight " pattern="^\d{1,3}$" required>
										<small class="error">Required</small>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="large-6 small-6 medium-6 columns">
								<div class="row collapse prefix-radius">
									<div class="large-4 small-4 medium-4 columns">
										<span class="prefix"><b style="color:red">*</b> Weigth (kg)</span>
									</div>
									<div class="large-8 small-8 medium-8 columns">
										<input type="text" name="patientweight" pattern="^\d{1,3}$" required>
										<small class="error">Required</small>
									</div>
								</div>
							</div>
						</div>
					</fieldset>
					<fieldset>
						<legend><b style="color:red">*</b> Summary</legend>
						<textarea name="summary" rows="5" required></textarea>
						<small class="error">Required</small>
					</fieldset>
					<fieldset>
						<legend>PGX Results</legend>
						<div class="row">
							<div class="large-12 small-12 medium-12 columns">
								<table class="large-12 small-12 medium-12" id="pgx-result-table">
									<thead>
										<tr>
											<th>Gene</th>
											<th>First Haplotype</th>
											<th>Second Haplotype</th>
											<th>Therapeutic Class</th>
										</tr>
									</thead>
									<tbody>
										{{#each pgxGenes}}	
										<tr>
											<td class="gene-name"><input name="{{gene}}" value="{{gene}}" style="display:none">{{gene}}</td>
											<td><input type="text" name="hap1-{{gene}}" value="{{hap1}}"></td>
											<td><input type="text" name="hap2-{{gene}}" value="{{hap2}}"></td>
											<td>
												<select name="">
													{{#each @root.classes}}
													<option>{{@this}}</option>
													{{/each}}
												</select>
											</td>
										</tr>
										{{/each}}
									</tbody>
								</table>
							</div>
						</div>
					</fieldset>
					<fieldset>
						<legend>Drug Recomendations</legend>
					</fieldset>
					<div class="row">
						<div class="large-3 small-12 medium-4 right columns">
							<button type="submit" class="button radius large-12 small-12 medium-12">Generate Report</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	<div>
<div>