<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/css/bundle.min.css" />

    <!-- Foundation vector graphic icon fonts -->
    <link rel="stylesheet" href="/static/icons/foundation-icons/foundation-icons.css" />

    <!-- Font awesome vector graphic icons -->
    <link rel="stylesheet" href="/static/icons/font-awesome-4.2.0/css/font-awesome.min.css" />

    <script type="text/javascript" src="/static/js/vendor/modernizr.js"></script>

    <link rel="icon" href="/static/img/pharmacogenomics.jpg" />
    <link rel="author" href="/static/humans.txt" />
  </head>
  <body>
    <!-- Nav bar -->
    <div class="sticky contain-to-grid show-for-medium-up">
      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name"><h1><a href="/">{{title}}</a></h1></li>
        </ul>
        {{#if authenticated}}
          <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">
              <li class="has-dropdown">
                <a href="#" class="button radius alert" id="webapp-plus-icon"><i class="fi-plus size-16"></i></a>
                <ul class="dropdown">
                  <li><a href="/upload" id="webapp-add-new-patient"><i class="fi-torso size-24"></i>&nbsp&nbsp&nbsp Add Patient</a></li>
                  <li><a href="/projects" id="webapp-add-new-project"><i class="fi-page-multiple size-24"></i>&nbsp&nbsp&nbsp My Projects</a></li>
                  <li><a href="/haplotypes" id="webapp-haplotypes"><i class="fa fa-asterisk fa-2x"></i>&nbsp&nbsp Manage Haplotypes</a></li>
                   <li><a href="/markers" id="webapp-markers"><b class="icon-text size-16">rS</b>&nbsp&nbsp&nbsp Manage Markers</a></li>
                </ul>
              </li>
              <li class="has-form">
                <span data-tooltip data-options="show_on:large" aria-haspopup="true" class="has-tip tip-bottom radius" title="Check annotation status"><a href='/statuspage' class="button radius alert" id='webapp-status-page'><i class='fi-annotate size-16'></i></a></span>
              </li>
              <li class="has-form">
                <a href="/browsepatients" class="button radius alert" id="webapp-browse-button">Browse</a>
              </li>
              <li class="divider hide-for-small">
              </li>
              <li class="has-dropdown">
                <a href="#" id="webapp-user-icon"><i class="fi-torso size-14"></i>&nbsp&nbsp{{user}}</a>
                <ul class="dropdown">
                  <li><label>Account Actions</li></label>
                  <li><a href="/setpassword"><i class="fi-lock size-16"></i>&nbsp&nbsp Change Password</a></li>
                  <li><a href="/logout"><i class="fa fa-sign-out" style="size:16;"></i>&nbsp&nbspLog Out</a></li>
                  {{#if admin}}
                  <li><label>Admin actions</labels></li>
                  <li><a href="/config"><i class="fa fa-gears" style="size:16;"></i>&nbsp&nbspConfigure Admin Settings</a></li>
                  {{/if}}
                </ul> 
              </li>
            </ul>
          </section>
        {{/if}}
      </nav>
    </div>
    <div class="show-for-small-only">
        <nav class="top-bar" role="navigation" data-topbar>
          <ul class="title-area">
            <li class="name">
                <h1><a href="/">{{title}}</a></h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
          </ul>
          <section class="top-bar-section">
            <ul class="right">
              <li><label>Navigation</li>
              <li><a href="/upload" id="webapp-add-new-patient">Add Patient</a></li>
              <li><a href="/projects" id="webapp-add-new-project">My Projects</a></li>
              <li><a href="/browsepatients" id="webapp-browse-button">Browse</a></li>
              <li><a href="/haplotypes" id="webapp-haplotypes">Manage Haplotypes</a></li>
              <li><a href="/markers" id="webapp-markers">Manage Markers</a></li>
              <li><label>Account Actions</li>
              <li><label>{{user}}</li>
              <li><a href="/setpassword">Change Password</a></li>
              <li><a href="/logout">Log Out</a></li>
              {{#if admin}}
              <li><label>Admin actions</labels></li>
              <li><a href="/config">Configure Admin Settings</a></li>
              {{/if}}
            </ul>
          </section>
        </nav>
    </div>
    <div id="main" style="min-height:100%">
      {{#if notfound}}
        <div class="row" style="padding-top: 200px;">
          <div class="large-6 small-12 medium-6 large-centered small-centererd medium-centered columns">
            <div class="row">
              <div class="large-4 small-6 medium-4 columns">
                <i class="fa fa-gears" style="font-size: 6em;"></i>
              </div>
              <div class="large-8 small-6 medium-8 columns">
                <h2><em>404 Not Found!</em></h2>
                <h4 class="subheader">There's nothing here!</h4>
              </div>
            </div>
          </div>
        </div>
      {{/if}}
      {{#if construction}}
        <div class="row" style="padding-top: 200px;">
          <div class="large-6 small-12 medium-6 large-centered small-centererd medium-centered columns">
            <div class="row">
              <div class="large-4 small-6 medium-4 columns">
                <i class="fa fa-wrench" style="font-size: 6em;"></i>
              </div>
              <div class="large-8 small-8 medium-4 columns">
                <h2><em>In development</em></h2>
                <h4 class="subheader">Come back soon!</h4>
              </div>
            </div>
          </div>
        </div>
      {{/if}}
    </div>
    <!-- Footer - modified from the Foundation website -->
    <div class="zurb-footer-bottom">
      <div class="row">
         <div class="large-12 small-12 medium-12 columns">
            <ul class="zurb-links">
              <li><a href="http://www.baderlab.org" target="_blank">About</a></li>
              <li><a href="http://www.baderlab.org" target="_blank">Contact</a></li>
           </ul>
           <p class="copyright">&copy; 2015 Bader &amp; Brudno Labs, University of Toronto. All rights reserved.</p>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/static/js/vendor/vendor.bundle.min.js"></script>
    {{#each src}}
    <script type="text/javascript" src="{{this}}"></script>
    {{/each}}
    <script type="text/javascript">
      $(document).foundation();
    </script>
  </body>
</html>