{{#each markers}}
<div class="row">
	<div class="large-12 columns">
		<form data-abide='ajax'>
			<fieldset class="marker-row" style="margin-top:8px;margin-bottom:8px;">
				<div class="large-3 columns">
					<p style="margin-bottom:0px" class="marker-name">{{@key}}</p>
				</div> 
				<div class="large-2 columns">
					<p class="static-marker-field" style="margin-bottom:0px">{{chr}}</p>
					<input class="edit" name="chr" type='text' style="margin-bottom:0px;display:none;" value="{{chr}}" pattern="chromosomes" required>
					<small class="error" style="display:none">Valid Chromosome Required</small>
				</div>
				<div class="large-2 columns">
					<p class="static-marker-field" style="margin-bottom:0px">{{pos}}</p>
					<input class="edit" name="pos" type='number' style="margin-bottom:0px;display:none;" value="{{pos}}" required>
					<small class="error">Valid Position required</small>
				</div>
				<div class="large-2 columns">
					<p class="static-marker-field" style="margin-bottom:0px">{{ref}}</p>
					<input class="edit" name="ref" type='text' pattern="alleles" style="margin-bottom:0px;display:none;" value="{{ref}}" required>
					<small class="error">Valid Allele Required</small>
				</div>
				<div class="large-3 columns">
					<p class="static-marker-field" style="margin-bottom:0px">{{alt}}</p>
					<input class="edit" name=alt type='text' pattern="alleles" style="margin-bottom:0px;display:none;" value="{{alt}}" required>
					<small class="error">Valid Allele required</small>
				</div>
				<div class="row">
					<div class="large-4 columns right edit"  style="margin-top:15px;display:none">
              			<ul class="button-group radius even-2" >									
              				<li><button type="submit" class="success tiny radius button" style="margin-bottom:0px;">submit</a></li>
							<li><a href="#" class="tiny radius button cancel" style="margin-bottom:0px;">cancel</a></li>
						</ul>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>
{{/each}}