{{#each markers}}
    <tr class="marker-row">
        <td>
            <div class="loading-spinner" style='position:absolute;margin-left:45%;margin-top:80px;display:none;'>
                <i class="fa fa-spinner fa-spin fa-4x"></i>
            </div>
            <form data-abide="ajax" id="{{_id}}" class="marker-form" data-type="{{type}}" data-chr="{{chr}}" data-asgenes="{{{asgenes}}}" data-ref="{{ref}}" data-alt="{{alt}}">
                <div class="row">
                    <div class="small-12 large-12 medium-12 columns">
                        <div data-alert class="alert-box radius secondary" style="display:none">
                        <!-- Alert message goes here -->
                            <div class="row">
                                <div class="medium-11 large-11 small-11 columns">
                                    <p class="alert-message"></p>
                                </div>
                                <div class="small-1 large-1 medium-1 columns">
                                    <a href="#" class='right close-box'><i class="fi-x size-16" style="color:#606060"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="large-4 small-4 medium-4 columns">
                        <p><b>Marker Id:</b>&nbsp&nbsp&nbsp<i>{{_id}}</i></p>
                    </div>
                    <div class="large-3 small-3 medium-3 columns">
                        <h6 class="update-status right" style="display:none"></h6>
                    </div>
                </div>
                <div class="row">
                    <div class="large-3 small-3 medium-3 columns">
                        <p><b>Chromosome:</b>&nbsp&nbsp&nbsp{{chr}}</p>
                    </div>
                    <div class="large-3 small-3 medium-3 columns">
                        <p><b>Genes:</b>&nbsp&nbsp&nbsp{{#each asgenes}}<span>{{this}}</span><br>{{/each}}</p>
                    </div>
                    <div class="large-3 small-3 medium-3 columns">
                        <p><b>Reference:</b>&nbsp&nbsp&nbsp{{ref}}</p>
                    </div>
                    <div class="large-3 small-3 medium-3 columns left">
                        <p><b>Alternate:</b>&nbsp&nbsp&nbsp{{alt}}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="large-3 small-3 medium-3 columns">
                    {{#if build}}
                        <p style="font-size:.75em;margin-bottom:3px">dbSNP Build:&nbsp&nbsp&nbsp{{build}}</p>
                    {{/if}}
                    {{#if assemblyLabel}}
                        <p style="font-size:.75em">Assembly:&nbsp&nbsp&nbsp{{assemblyLabel}}</p>
                    {{/if}}
                    </div>
                    <div class="large-3 small-3 medium-3 columns right">
                        <p style="font-size:.75em">Last updated:&nbsp&nbsp&nbsp{{date}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="large-4 medium-6 small-12 columns right edit"  style="margin-top:15px;display:none">
                        <ul class="button-group radius even-3" >                                    
                            <li><a href="#" class="success tiny radius button" style="margin-bottom:0px;">Update</a></li>
                            <li><a href="#" class="tiny radius button cancel" style="margin-bottom:0px;">Cancel</a></li>
                            <li><a href="#" class="tiny alert button delete" style="margin-bottom:0px;">Delete</a></li>
                        </ul>
                    </div>
                </div>
            </form>
        </td>
    </tr>
{{/each}}
