{{!-- NOTE: Put quotes around attributes that may have spaces, or handlebars
	  will only output the first word. --}}
<div class="row" style="margin-top:30px">	
	<div class="large-12 medium-12 small-12 columns">
		<a href="/browsepatients" class="button radius"><i class="fa fa-arrow-left"></i>&nbspBack</a>
		{{#if errMessage}}
		<div class="row">
	      <div class="small-12 columns">
	        <div data-alert class="alert-box radius secondary" id="error-display-box">
	        <!-- Alert message goes here -->
	          <div class="row">
	            <div class="small-11 columns">
	            	<h4>Warning</h4>
	              	<p id="error-display-message">There is incomplete or missing marker information for the following genes: {{errMessage}}, preventing them from accurately being displayed in the report. In order to display the PGX analysis for these genes, please review the their related markers and provide the missing information</p>
	            </div>
	          	<div class="small-1 columns">
	            	<a href="#" class='close-box'><i class="fi-x size-16" style="color:#606060"></i></a>
	          	</div>
	        	</div>
	    	</div>
	  	</div>
	  	{{/if}}
		<div class="row">
			<div class="large-9 small-12 medium-8 columns">
				{{#if patientAlias}}
				<h2><i class="fi-torso"></i> {{patientAlias}} (<em>{{patientID}}</em>)</h2>
				{{else}}
				<h2><i class="fi-torso"></i> <em>{{patientID}}</em></h2>
				{{/if}}
				<div class="row" style="padding-left:10px">
					<div class="large-12 small-12 medium-12 columns" style="padding-left:0px">
						<h5 style="margin-top: 30px;">Pharmacogenomic results based on phased and unphased genotypes from this sample.</h5>
						<h6 style="margin-bottom: 40px;"><em><a href="#" id="collapse-all-haplotypes">Show less</a></em></h6></p>
					</div>
				</div>
			</div>
			<div class="large-3 small-12 medium-4 columns">
				<a href="#" id="direct_download" style="display:none;">test</a>
				<a href="#" id="download" class="button radius large-12 small-12 medium-12">Download</a></li>
				<a href="/browsepatients/dosing/{{patientID}}" class="button success radius large-12 small-12 medium-12">Recommendations</a>
			</div>
		</div>
	</div>
</div>
{{#pgxGenes}}
<div class="row">
	<div class="large-12 small-12 medium-12 columns">
		<div class="row">
			<div class="large-9 small-12 medium-9 columns">
				<h3><strong>{{gene}}</strong></h3>
			</div>
			<div class="large-1 small-12 medium-1 columns">
				<a href="#"><i class="fa fa-plus haplotype-expand" gene="{{gene}}" expanded="yes"></i></a>
			</div>
		</div>

		<div id="table{{gene}}" class="haplotype-expand-div small-12 medium-12 large-12 columns">
		<h6>Phased Status: {{#if phased}}<i>Phased</i>{{else}}<i>Unphased</i>{{/if}}</h6>
			{{#if patientHaplotypes}}
			{{#each patientHaplotypes}}
				<table class="patient-haplotype-table" style="margin-bottom:0px;border-bottom-width: 1px; border-bottom-color: #ffffff;">
					<thead>
						<tr>
							<th class="haplotype-columns">{{#if ../phased}}Phased{{else}}Possible{{/if}} Haplotype {{inc @index}}</th>
							{{#../heads}}
							<th class="marker-column"><a target="_blank" href={{url}} rs={{id}}">{{id}}</a></th>
							{{/../heads}}
						</tr>
					</thead>
					<tbody>
						<tr class="patient-genotype-row"><!--style="background:#E2FFC6;">class="patient-genotype-row">-->
							<td class="haplotype-columns"><em>Observed Variants</em></td>
							{{#variants}}
							<td class="variant-{{class}} marker-column">{{variant}}</td>
							{{/variants}}
						</tr>
					</tbody>
				</table>
				{{#if possible}}
				<table style="margin-top:0px;border-top:0px">
					<thead>
						<tr>
							<th class="haplotype-columns">Possible Matches</th>
							{{#../../heads}}
							<th class="marker-column"></th>
							{{/../../heads}}
						</tr>

					</thead>
					<tbody>
						{{#possible}}
						<tr>
							<td class="haplotype-columns">{{name}}</td>
							{{#variants}}
							<td class="variant-{{class}} marker-column">{{variant}}</td>
							{{/variants}}
						</tr>
						{{/possible}}
					</tbody>
				</table>
				{{/if}}
			{{/each}}
			{{else}}
			<div class="row no-variants">
		      	<div class="small-12 columns">
		        	<div data-alert class="alert-box radius secondary">
		        	<!-- Alert message goes here -->
		         	 	<div class="row">
		            		<div class="small-12column columns">
				            	<h6>Notice</h6>
				              	<p>There was no genetic information found for the patient at this location</p>
		            		</div>
		          			
		        		</div>
		    		</div>
		  		</div>
			</div>
			{{/if}}
			{{#if haplotypes}}
			<table class="all-possible-haplotypes">
				<thead>
					<tr>
						<th class="haplotype-columns">Additional Known Haplotypes</th>
						{{#heads}}
						<th class="marker-column"><a target="_blank" href={{url}} rs={{id}}">{{id}}</a></th>
						{{/heads}}
					</tr>
				</thead>
				<tbody>
					{{#haplotypes}}
					<tr>
						<td class="haplotype-columns">{{name}}</td>
						{{#variants}}
						<td class="variant-{{class}} marker-column">{{variant}}</td>
						{{/variants}}
					</tr>
					{{/haplotypes}}
				</tbody>
			</table>
			{{else}}
			<div class="row">
		      	<div class="small-12 columns">
		        	<div data-alert class="alert-box radius secondary">
		        	<!-- Alert message goes here -->
		         	 	<div class="row">
		            		<div class="small-12column columns">
				            	<h6>Notice</h6>
				              	<p>There are no additional haplotypes to display</p>
		            		</div>
		          			
		        		</div>
		    		</div>
		  		</div>
			</div>
			{{/if}}

		</div>
	</div>	
</div>
{{/pgxGenes}}
<div class="row">	
	<div class="large-12 columns" style="margin-top: 40px; margin-bottom: 20px;">
		<h5><strong>Disclaimer</strong></h5>
		<h6>{{disclaimer}}</h6>
	</div>
</div>
<div class="row">	
	<div class="large-12 columns">
		<h6><em>{{report-footer}}</em></h6>
	</div>
</div>