<div class="row" style="padding-top: 30px;">  
	<div class="large-12 small-12 medium-12 columns">
		<h2><i class="fa fa-asterisk"></i>&nbspManage Haplotypes</h2>
		<h5 class="subheader">Displaying all available phase infomration</h5>
		<p>Select any of the available genes below to modify the phasing information for that specific gene, adding new haplotypes,markers,etc or additionally create a new haplotype.</p>
      	<div class="row">
        	<div class="large-3 medium-6 small-12 columns">
          		<a href="#" class="small-12 medium-12 large-12 button alert radius left" id="add-new-gene">Add New Gene</a>
          		<ul class="button-group even-2 radius" id="button-group" style="display:none">
          			<li><a href="#" class="button success" id="submit-new-gene" >Submit</a></li>
          			<li><a href="#" class="button" id="cancel-new-gene">Cancel</a></li>
          		</ul>
        	</div>
        </div>
        <div class="row">
        	<form data-abide="ajax" id="submit-new-gene-form" style="display:none"">
	       		<div class="large-6 medium-12 small-6 columns">
					<label>Gene Name</label>
					<input id="new-gene-name" type="text" required pattern="^[a-zA-Z.'*+-_:\/]+">
					<small class="error">Valid gene name required.</small>
	        	</div>
	        	<div class="large-6 small-12 medium-12 columns">
    				<label>Enzymatic Class</label>
    				<select id='new-gene-type' required>
    					{{#each classes}}
    					<option data-id="{{@key}}">{{fullname}}</option>
    					{{/each}}
    				</select>
    				<small class="error">Required</small>
	        	</div>
        		<button type="submit" style="display:none"></button>
        		<hr>
        	</form>
      	</div>
      	<div class="row">
		  	<div class="small-12 columns">
		    	<div data-alert class="alert-box radius secondary" id="error-display-box"  style="display:none">
		    	<!-- Alert message goes here -->
			  		<div class="row">
			    		<div class="small-11 columns">
			      			<p id="error-display-message"></p>
			    		</div>
			  			<div class="small-1 columns">
			    			<a href="#" class='close-box'><i class="fi-x size-16" style="color:#606060"></i></a>
			  			</div>
					</div>
				</div>
			</div>
		</div> 
	</div>
</div>
<div class="row">
	<div class="large-12 small-12 medium-12 columns" style="margin-top:30px">
		{{#if haplotypes}}
		<div class="row collapse prefix-radius">
			<div class="large-2 medium-3 small-4 columns">
				<span class="prefix">Search</span>
			</div>
			<div class="large-4 medium-7 small-8 left columns">
				<input type="text" id="search-box">
			</div>
		</div>
		<table id="haplotype-table" class="large-12">
			<thead>
				<tr>
					<th class="large-6 small-6 medium-6">Gene</th>
					<th class="large-3 small-6 medium-6 text-center">Number of Haplotypes</th>
				</tr>
			</thead>
			<tbody>
				{{#each haplotypes}}
				<tr class="haplotype-row" data-name="{{gene}}">
					<td>{{gene}}</td>
					<td class="text-center">{{this.numCurrH}}</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
		{{else}}
		<div data-alert class="alert-box radius secondary" id="error-display-box">
	      <!-- Alert message goes here -->
	      <div class="row">
	          <div class="small-11 columns">
	              <p id="error-display-message">There does not appear to be anything here</p>
	          </div>
	        </div>
	    </div>
		{{/if}}
   	</div>
</div>