<div class="row" style="padding-top: 30px;">  
	<div class="large-12 small-12 medium-12 columns">
		<a href="/haplotypes" class="button radius"><i class="fa fa-arrow-left"></i>&nbspBack</a>
		<div class="row">
			<div class="large-9 small-12 medium-8 columns">
				<h2 id="gene-name"><i class="fa fa-asterisk" ></i>&nbsp{{gene}}</h2>
			</div>
			<div class="large-3 small-12 medium-4 right columns">
				<fieldset style="margin-top:0px;padding:12.5px;"><a href="/markers">Add or Manage Markers</a></fieldset>
			</div>
		</div>
	</div>
</div>
<div id="confirm-delete" class="reveal-modal large" data-reveal>
	<h4>Are you sure you want to delete the haplotypes for {{gene}} permanately?</h4>
	<h6 class="subheader">Once deleted you will no longer be able access or use this haplotype set. None of the markers will be modified or deleted.</h6>
	<div class="row">
		<div class="large-6 small-12 medium-6 columns">
			<a href="#" class="large-12 small-12 medium-12 success button radius">Confirm</a>
		</div>
		<div class="large-6 small-12 medium-6 columns">
			<a href="#" class="large-12 small-12 medium-12 alert button radius cancel">Cancel</a>
		</div>
	</div>
</div>
<div id="add-marker-modal" class="reveal-modal large" data-reveal>
	<form id="new-marker-form" data-abide="ajax">
		<div class="row">
			<div class="large-12 small-12 medium-12 columns">
  				<h3><em id="new-marker-name"></em> was not found in the database, would you like to add it?</h3>
  			</div>
  			<input type="text" style="display:none" name="id" required>
  			<div class="large-6 small-12 medium-12 columns">
	  			<div class="row collapse prefix-radius">
	  				<div class="large-4 small-4 medium-4 columns">
	  					<span class="prefix">Chromosome</span>
	  				</div>
	  				<div class="large-8 small-8 medium-8 columns">
	  					<input type="text" pattern="chromosomes" name="chr" required>
	  					<small class="error">A valid chromosome is required</small>
	  				</div>
	  			</div>
	  			<div class="row collapse prefix-radius">
	  				<div class="large-4 small-4 medium-4 columns">
	  					<span class="prefix">Position</span>
	  				</div>
	  				<div class="large-8 small-8 medium-8 columns">
	  					<input type="number" name="pos" required>
	  					<small class="error">A number is required</small>
	  				</div>
	  			</div>
	  		</div>
	  		<div class="large-6 small-12 medium-12 columns">
	  			<div class="row collapse prefix-radius">
	  				<div class="large-4 small-4 medium-4 columns">
	  					<span class="prefix">Reference Allele</span>
	  				</div>
	  				<div class="large-8 small-8 medium-8 columns">
	  					<input type="text" pattern="alleles" name="ref" required>
	  					<small class="error">A proper Allele is required</small>
	  				</div>
	  			</div>
	  			<div class="row collapse prefix-radius">
	  				<div class="large-4 small-4 medium-4 columns">
	  					<span class="prefix">Alternate Allele</span>
	  				</div>
	  				<div class="large-8 small-8 medium-8 columns">
	  					<input type="text" pattern="alleles" name="alt" required>
	  					<small class="error">A proper Allele is required</small>
	  				</div>
	  			</div>
	  		</div>
		</div>
  		<div class="row">
  			<div class='large-6 medium-6 small-12 columns'>
	  			<button type="submit" class="large-12 small-12 medium-12 button radius success">Submit</button>
	  		</div>
	  		<div class="large-6 medium-6 small-12 columns">
	  			<a href="#" class="large-12 medium-12 small-12 button radius alert cancel">Cancel</a>
	  		</div>
	  	</div>
	</form>
	<a class="close-reveal-modal">&#215;</a>
</div>
<div class="row" style="z-index:2">
	<div class="large-6 small-6 medium-6 columns">
		<h5>Lookup Additional Markers</h5>
	</div>
	<div class="large-6 small-6 medium-6 columns">
		<div class="row collapse postfix-radius">
			<div class="large-8 small-8 medium-8 columns">
				<input type="text" id="suggestion-input" class="suggestion-input" data-col="marker" data-num="10">
				<div class="suggestion-wrapper">
					<div class="suggestions" for="#suggestion-input" style="z-index:100">
						<ul class="suggestion-list">
						</ul>
					</div>
				</div>
			</div>
			<div class="large-4 small-4 medium-4 columns">
				<a id="search-new-marker" href="#" class="postfix">Add</a>
			</div>
		</div>
	</div>
</div>
<div class="row" style="z-index:-1">
	<div class="large-12 small-12 medium-12 columns">
		{{#if amarkers}}
		<h3>Markers Associated with {{gene}}</h3>
		<table class="large-12 medium-12 small-12" id="amarkers">
			<thead>
				<tr>
					<th class="large-3 small-3 medium-3">Identifier</th>
					<th class="text-cente large-2 small-2 medium-2">Chromosome</th>
					<th class="text-center large-2 small-2 medium-2">Reference</th>
					<th class="text-center large-3 small-3 medium-3">Alt</th>
					<th class="text-center large-2 small-2 medium-2">Add/Remove</th>
				</tr>
			</thead>
			<tbody>
				{{#each amarkers}}
				<tr id="{{this}}">
					<td>{{this}}</td>
					<td class="text-center chr">{{lookUpIdInfo @root.allMarkers this 'chr'}}</td>
					<td class="text-center ref">{{lookUpIdInfo @root.allMarkers this 'ref'}}</td>
					<td class="text-center alt">{{lookUpIdInfo @root.allMarkers this 'alt'}}</td>
					{{#ifIdAdded @root.allMarkers this}}
					<td class="text-center"><a href="#" class="marker-status added button tiny radius" style="margin-bottom:0px">Remove</a></td>
					{{else}}
					<td class="text-center"><a href="#" class="marker-status unadded button tiny radius" style="margin-bottom:0px">Add</a></td>
					{{/ifIdAdded}}
				</tr>
				{{/each}}
			</tbody>
		</table>
		{{/if}}
	</div>
</div<
<div class="row">
	<div class="large-12 small-12 medium-12 columns">
		<div class="row">
			<div class="large-8 small-12 medium-8 columns">
				<h3>Haplotypes</h3>
			</div>
			<div class="large-4 small-12 medium-4 columns">
				<ul class="button-group even-3 radius">
					<li><a id='save' href="#" class="button success">Save</a></li>
					<li><a href="{{location}}" class="button">Cancel</a></li>
					<li><a id="delete" href="#" class="button alert ">Delete</a></li>
				</ul>
			</div>
		</div>
		<div data-alert class="alert-box radius warning" id="error-display-box" style="display:none">
	      <!-- Alert message goes here -->
	      	<div class="row">
	          	<div class="small-11 columns">
	             	<p id="error-display-message"></p>
	          	</div>
	          	<div class="small-1 columns">
	        		<a href="#" class='close-box'><i class="fi-x size-16" style="color:#606060"></i></a>
	      		</div>
	       	</div>
	    </div>
		<p>Click each marker to cycle through using the reference or alternate allele for PGX analysis. Additionally, add or remove markers and even a new haplotype! </p>
	</div>
</div>
<div class="row">
	<div class="large-12 small-12 medium-12 columns">
		<div class="row">
			<div class="small-6 medium-6 large-6 columns">
				<label>Add new haplotype</label>
				<div class="row collapse postfix-radius">
					<div class="large-9 medium-9 small-8 columns">
						
						<input type="text" id="new-haplotype">
						<small class="error" style="display:none">Haplotype Already Exist</small>
					</div>
					<div class="large-3 small-3 medium-3 columns">
						<a href='#' id='add-new-haplotype' class="postfix">Add</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div id="haplotype-wrapper" class="large-12 small-12 medium-12 columns">
				<table id="haplotypes" {{#unless haplotypes}}style="display:none"{{/unless}}>
					<thead>
						<tr>
							<th>Haplotype</th>
							{{#each @root.markers}}
							<th id="marker-{{this}}"><a href="#">{{this}}</a></th>
							{{/each}}
							<th>Remove</th>
						</tr>
					</thead>
					<tbody>
					{{#each haplotypes}}
						<tr class="haplotype-row" data-id="{{_id}}">
							<td class="haplotype-cell" >
								<span>{{haplotype}}</span>
								<div class="row collapse postfix-radius" style="display:none;min-width:250px">
									<div class="large-8 small-8 medium-8 columns">
										<input type="text" disabled=disabled value="{{haplotype}}" >
										<small class="error" style="display:none">Unique Name Required</small>
									</div>
									<div class="large-4 small-4 medium-4 columns">
										<a href="#" class="postfix">Done</a>
									</div>
								</div>
							</td>
							{{#each markers}}
							{{#if dummy}}
							<td class="marker use-ref text-center">{{lookUpIdInfo @root.allMarkers _id 'ref'}}</td>
							{{else}}
							<td class="marker use-alt text-center">{{lookUpIdInfo @root.allMarkers _id 'alt'}}</td>
							{{/if}}
							{{/each}}
							<td class="text-center"><a href="#" class="remove button tiny radius" style="margin-bottom:0px;"><i class="fi-x"></i></a></td>
						</tr>
					{{/each}}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>