<tr>
	<td class="marker-id">{{id}}</td>
	<td class="text-center">{{chr}}</td>
	<td class="text-center">{{pos}}</td>
	<td class="text-center">{{ref}}</td>
	<td class="text-center">{{alt}}</td>
	<td class='text-center'><a href="#" class="remove-row"><i class="fi-x size-16"></i></td>
</tr>