<tr>
	<td class="text-center">{{id}}</td>
	<td class="text-center">{{#if chr}}
		{{chr}}
	{{else}}
		<input type="text" class="marker-chr">
	{{/if}}</td>
	<td class="text-center">{{#if pos}}
		{{pos}}
	{{else}}
		<input type="text" class="marker-pos">
	{{/if}}</td>
	<td class='text-center'><a href="#"><i class="fi-x size-16"></i></td>
</tr>