
<div class="row">
    <div class="large-12 columns">
      	<h2><i class="fi-page-multiple"></i>&nbsp Projects</h2>
      	<h5 class="subheader">Displaying all available projects</h5>
     	<p>Projects offer you a way to conveniently group individual patients together to easily view information that is being stored for each of them. A single patient can be included in as many projects as you want. Additionally projects also offer you the opportunity to share patients with individuals by granting them access to a patient. Just a warning, granting someone privileges means they can also grant another individual privileges as well.</p>
      	<div class="row">
        	<div class="large-3 columns">
          		<a href="#" class="button alert radius left" id="add-new-project">Add New Project</a>
        	</div>
      	</div> 
    </div>
</div>
<div class="row">
	<div class="large-12 columns">     
		{{!-- Add the project table --}}
    {{#if projects}}
  		<table class="large-12">
  			<thead>
  				<tr>
  					<th>Project Name</th>
  					<th>Date Created</th>
  					<th class="text-center">Number Of Patients</th>
  					<th class="text-center">Keywords</th>
  				</tr>
  			</thead>
  			<tbody>
  				{{#each projects}}
  				<tr class="project-row">
  					<td class="webapp-project-name">{{project_id}}</a></td>
  					<td>{{date}}</td>
  					<td class="text-center">{{numPatients}}</td>
  					<td class="text-center">{{keywords}}</td>
  				</tr>
  				{{/each}}
  			</tbody>
  		</table>
    {{else}}
    <div data-alert class="alert-box radius secondary" id="error-display-box">
      <!-- Alert message goes here -->
      <div class="row">
          <div class="small-11 columns">
              <p id="error-display-message">There does not appear to be anything here</p>
          </div>
        </div>
    </div>
    {{/if}}
	</div>
</div>