<!-- Search All Variants -->
<h3>Description<h3>
<p>orem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse finibus venenatis turpis vel viverra. Ut lectus tellus, euismod ac interdum a, dignissim vitae neque. Ut arcu arcu, sodales id lorem sit amet, lacinia tincidunt odio.</p>
<h3><i class="fi-torsos-all"></i>All Variants</h3>
<h4 class="subheader">Returning All reasults for Chromosome: {{referenceName}} start: {{start}} end: {{end}}</h4>
<table>
	<thead>
		<tr>
			<th>Chromosome</th>
			<th>Start</th>
			<th>End</th>
			<th>rs number</th>
			<th>Reference Allele</th>
			<th>Alternate Allele</th>
			<th>Variant Type</th>
			<th>Variant Source</th>
			<th>Mean Allele Frequency</th>
			<!--
			<th>American Allele Frequency</th>
			<th>European Allele Frequency</th>
			<th>Asian Allele Frequency</th>
			<th>African Allele Frequency</th>
			<th>Expand</th>	
			-->

		</tr>
	</thead>
	<tbody>
		{{#each variants}}
		<tr>
			<td class='text-center'>{{referenceName}}</td>
			<td class='text-center'>{{start}}</td>
			<td class='text-center'>{{end}}</td>
			<td class='text-center'>
				<a href="http://www.ncbi.nlm.nih.gov/snp/?term={{names.[0]}}" target="_blank" data-rs-number={{names.[0]}}>{{names.[0]}}</a>
			</td>
			<td class='text-center'>{{referenceBases}}</td>
			<td class='text-center'>{{alternateBases}}</td>
			<td class='text-center'>{{info.VT}}</td>
			<td class='text-center'>{{info.SNPSOURCE}}</td>
			<!-- Allele Frequencies -->
			<td class='text-center'>{{info.AF}}</td>
			<!--
			<td class='text-center'>{{info.AMR_AF}}</td>
			<td class='text-center'>{{info.EUR_AF}}</td>
			<td class='text-center'>{{info.ASN_AF}}</td>
			<td class='text-center'>{{info.AFR_AF}}</td>
			
			For Later user in order to explore all 
				patients with a given variant

			<td class='text-center'><a href="#" class="button radius tiny secondary" data-variant-id={{names.[0]}}>explore</a></td>
			-->
		</tr>
		{{/each}}
	</tbody>
</table>
<div class=small-12 small-centered columns>
	<i class="fa fa-refresh fa-spin" id="frangipani-progress-spinner"></i>
</div>	
