<!-- add new file -->
{{#each patients}}
<tr>
	<td>{{patient_id}}</td>
	<td>{{file}}</td>
	<td>{{date}}</td>
	<td>{{time}}</td>
	<td class="text-center check"><i class="{{icon}}" style="{{style}}"</i></td>
</tr>
{{/each}}