{{#each variants}}
	<tr>
		<td>{{referenceName}}</td>
		<td>{{start}}</td>
		<td>{{end}}</td>
		<td>
			<a href="#" data-rs-number={{names.[0]}}>{{names.[0]}}</a>
		</td>
		<td>{{referenceBases}}</td>
		<td>{{alternateBases}}</td>
		<td>{{quality}}</td>
	</tr>
{{/each}}