
<div class='row'>
	<div class='large-6 column left'>
		<h3>Details for <em>{{projectName}}</em></h3>
	</div>
	<!--
	<div class='large-4 column'>
		<a href="#" id="frangipani-view-all-variants" class='button radius right' data-project-name={{projectName}}>View All Variants</a>
	</div>
	-->
</div>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse finibus venenatis turpis vel viverra. Ut lectus tellus, euismod ac interdum a, dignissim vitae neque. Ut arcu arcu, sodales id lorem sit amet, lacinia tincidunt odio.</p>
<div class='row'>
	<div class='large-12 column'>
		<h3><i class="fi-torsos-all"></i> Patients</h3>
	</div>
	<div class='large-12 column'>
			<a href="#" id="frangipani-view-all-variants" class='button radius small-2 tiny secondary	' data-project-name={{projectName}}>View All Variants</a>


			<a href="#" id="frangipani-view-select-variants" class='button radius small-2 tiny secondary'>View Selected Variants</a>
	</div>
</div>
<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Age</th>
			<th>Sex</th>
			<th>Details</th>
			<th>Placeholder</th>
			<th>Select</th>	
		</tr>
	</thead>
	<tbody>
		{{#each callSets}}
		<tr>
			<td><a href="#" class="frangipani-patient-link" data-patient-id={{id}} data-patient-name={{name}}>{{name}}</a></td>
			<td class="text-center age">{{age}}</td>
			<td class="text-center sex">{{sex}}</td>
			<td class="text-center details">{{details}}</td>
			<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a massa quis sem eleifend bibendum.</td>
			<td><input type="checkbox" class='large-12'/></td>
		</tr>
		{{/each}}
	</tbody>
</table>
<div class=small-12 small-centered columns>
	<i class="fa fa-refresh fa-spin" id="frangipani-progress-spinner"></i>
</div>	